{% extends "layout.html" %}
<!-- Title -->
{% block title %}Manage Materials{% endblock %}

<!-- Body -->
{% block content %}
    <h2 id="title">Raw Materials</h3>
    <form>
        <select name="type">
            <option value="" selected disabled hidden>Select Type</option>
            <option value="newItem">Add new material</option>
            <option value="update">Update material count</option>
            <option value="remove">Remove material</option>            
        </select>
        <label for="Name">Name: </label>
        <input>

        <button>Submit</button>
    </form>
    <div class="button">
       <a href="/add">Add new product</a>
    </div> 
    <style>
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        .button{
            text-decoration: none;
            border-radius: 8px;
            width: fit-content;
            padding: 5px;
            margin: 5px;
            background-color: blue;
        }
    </style>
{% endblock %}