{% extends "layout.html" %}
<!-- Title -->
{% block title %}Manage Materials{% endblock %}

<!-- Body -->
{% block content %}
    <h2 id="title">Raw Materials</h3>
    <form>
        <select name="type">
            <option value="" selected disabled hidden>Select Type</option>
            <option value="newItem">Add new material</option>
            <option value="update">Update material count</option>
            <option value="remove">Remove material</option>            
        </select>
        <label for="Name">Name: </label>
        <input>

        <button>Submit</button>
    </form>
{% endblock %}