{% extends "layout.html" %}
{% block title %}Transaction History{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block content %}
<!-- Flash messages section -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <!-- End Flash messages section -->
<div class="container">
    <h2>Transaction History</h2>
    <div class="add-transaction-btn">
        <a href="{{ url_for('add_transactions') }}" class="btn btn-success">Add Transaction</a>
    </div>
    <table id="transaction-table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Customer Name</th>
                <th>Total Amount (Rs)</th>
                <th>Date</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['transaction_id'] }}</td>
                <td>{{ transaction['customer_name'] }}</td>
                <td>{{ transaction['grand_total'] }}</td>
                <td>{{ transaction['transaction_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
