{% extends "layout.html" %}
<!-- Title -->
{% block title %}Products{% endblock %}

{% block cssLink %}
<link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}">
{% endblock %}

{% block content%}
  <main>  
   <section class="products">  
    <h1>Furniture Products</h1>  
    <div class="search-bar">  
      <input type="text" id="search" placeholder="Search products...">  
      <button id="filter">Search</button>
      <a href="/product/add" id="filter" style="text-decoration: none;"><span type="button">Add Product</span></a>
      <!-- <a href="/product/" id="filter" style="text-decoration: none;"><span type="button">Remove Product</span></a>  -->
    </div>  
    <div class="product-grid">
      {% for product in products %}
      <div class="product">
        <img src="data:image/jpeg;base64,{{ product['Img'] }}" alt="{{ product['name'] }}">
        <h2>{{ product['name'] }}</h2>  
        <p><strong>Price:</strong> <span>Rs{{ product['Price'] }}</span></p>  
        <p><strong>Description:</strong> {{ product['Descript'] }}</p>  
      </div>
      {% endfor %}      
   </section>  
  </main>  
  <script>
    document.getElementById('search').addEventListener('input', function() {
      const query = this.value.toLowerCase();
      const products = document.querySelectorAll('.product');

      products.forEach(product => {
          const productName = product.querySelector('h2').innerText.toLowerCase();
          product.style.display = productName.includes(query) ? 'block' : 'none';
      });
    });
  </script>  
{% endblock %}
